.delete-dialog {
    h2 {
        margin: 0px;
    }
    hr {
        margin: 0px auto 20px auto;
    }
}

.fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}