<div class='viewContainer' [class.edit-hovered]='editHoverState' [class.complete-hovered]='completeHoverState'>
    <div class='buttons-before-block'>
        <!-- <svg class='icon icon-move-vertical handle' dnd-sortable-handle>
            <use xlink:href='#icon-move-vertical'></use>
        </svg> -->
        <svg class='icon icon-ellipsis-v handle' dnd-sortable-handle>
            <use xlink:href='#icon-ellipsis-v'></use>
        </svg>
        <input type='checkbox' class='toggle' (click)='toggleTodoComplete(todo)' [checked]='todo.complete' (mouseenter)='setCompleteHover(true)' (mouseleave)='setCompleteHover(false)' matTooltip='Toggle complete' matTooltipPosition='above'>
    </div>
    <label (dblclick)='editTodo(todo)'>{{todo.title}}</label>
    <div class='buttons-block'>
        <svg class='icon icon-more_horiz' (click)='showMore(todo)' matTooltip='Advanced settings' matTooltipPosition='above'>
            <use xlink:href='#icon-more_horiz'></use>
        </svg>
        <!-- <svg class='icon icon-pencil-edit' (click)='editTodo(todo)' (mouseenter)='setEditHover(true)' (mouseleave)='setEditHover(false)'>
            <use xlink:href='#icon-pencil-edit'></use>
        </svg> -->
        <svg class='icon icon-pin' [class.pinned]='todo.pin' (click)='pinTodo(todo)' matTooltip='Pin/unpin todo' matTooltipPosition='above'>
            <use xlink:href='#icon-pin'></use>
        </svg>
    </div>
</div>