/* TodoList section */

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        position: relative;
        font-size: 24px;
        border-bottom: 1px solid #ededed;
        transition: background-color 0.3s ease-out;
        cursor: default !important; // Styles to prevent ng2-dnd styles for element
        &.completed label,
        .complete-hovered label {
            color: #d9d9d9;
            text-decoration: line-through;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: #f5f5f5;
            .toggle:not(:checked) {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/></svg>');
            }
            .buttons-block {
                .icon-move-vertical,
                .icon-pencil-edit,
                .icon-destroy {
                    opacity: 1;
                }
            }
        }
        // &.editing {
        //     border-bottom: none;
        //     padding: 0;
        //     &:last-child {
        //         margin-bottom: -1px;
        //     }
        // }
        .viewContainer {
            background-color: transparent;
            transition: background-color 0.3s ease-out;
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            align-items: center;
            &.edit-hovered {
                background-color: #dfebe0;
            }
            &.delete-hovered {
                background-color: #f7e8e8;
            }
        }
        .editContainer {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            align-items: center;
            .edit {
                @extend .input-field-style;
                grid-column: 2/17;
                padding: 12px 14px 12px 14px;
                resize: none; // Disable resizing for todo
                word-break: break-all;
            }
        }
        .toggle {
            text-align: center;
            width: 40px;
            /* auto, since non-Webkit browsers doesn't support input styling */
            height: auto;
            // position: absolute;
            // top: 0;
            // bottom: 0;
            // margin: auto 0;
            border: none;
            /* Mobile Safari */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            grid-column: span 1;
            &:after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
            }
            &:checked:after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
            }
        }
        label {
            word-break: break-all;
            padding: 15px 15px 15px 15px;
            // margin-left: 40px;
            // margin-right: 94px;
            // display: block;
            line-height: 1.2;
            transition: color 0.4s;
            grid-column: span 13;
            background-color: fuchsia;
        }
        .buttons-block {
            grid-column: span 2;
            background-color: greenyellow;
            display: grid;
            height: 100%;
            grid-template-columns: repeat(3, 1fr);
            .icon-move-vertical {
                // width: 0.375em;
                // display: none;
                font-size: 18px;
                color: #939dc9;
                // position: absolute;
                // top: 0;
                // right: 70px;
                // bottom: 0;
                background-color: #555;
                margin: auto auto;
                padding: 3px 3px 3px 3px;
                transition: 0.3s ease-out;
                opacity: 1;
                &:hover {
                    color: #687197;
                    cursor: pointer;
                }
            }
            .icon-pencil-edit {
                // display: none;
                font-size: 18px;
                color: #bddad5;
                // position: absolute;
                // top: 0;
                // right: 45px;
                // bottom: 0;
                background-color: #888;
                margin: auto auto;
                padding: 3px 3px 3px 3px;
                // margin-bottom: 16px;
                transition: 0.3s ease-out;
                opacity: 1;
                &:hover {
                    color: #5dc2af;
                    cursor: pointer;
                }
            }
            .icon-destroy {
                // display: none;
                font-size: 18px;
                color: #cc9a9a;
                // position: absolute;
                // top: 0;
                // right: 20px;
                // bottom: 0;
                background-color: #321;
                margin: auto auto;
                font-size: 18px;
                padding: 3px 3px 3px 3px;
                transition: 0.3s ease-out;
                opacity: 1;
                &:hover {
                    color: #af5b5e;
                    cursor: pointer;
                }
            }
        }
    }
    .todoapp.clearAll-hovered & li.completed {
        background-color: #f7e8e8;
        .icon-destroy {
            opacity: 1;
        }
    }
    .todoapp.toggleAll-hovered & li {
        color: #d9d9d9;
        text-decoration: line-through;
        .toggle {
            &:not(:checked) {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
            }
        }
    }
}


/* End TodoList section */