@import url('https://fonts.googleapis.com/css?family=Arimo');
// CSS Grid site template with sticky footer (https://codepen.io/Cl3r1k/pen/WdbRER)
$anchorColor: #0bb3b3;
$gridHeaderColor: none;
$gridContentColor: none;
$gridFooterColor: none;
// Debuging for grid
// $gridHeaderColor: #19d5f7;
// $gridContentColor: #fc8ff6;
// $gridFooterColor: #7ae6a9;
body,
html {
    // height: 100%;
    margin: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #f5f5f5;
    color: #4d4d4d;
    line-height: 1.3em;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.modal-open {
        /* body overflow is hidden to hide main scrollbar when modal window is open, set this class programmatically in ModalService */
        overflow: hidden;
    }
}

a,
a:focus,
a:hover {
    color: $anchorColor;
    text-decoration: none;
    font-weight: 600;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.app-grid-container {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    // grid-gap: 5px;
    margin: 0;
    .header-container {
        grid-column: span 12;
        padding: 0px 30px;
        color: #0bb3b3;
        background-color: $gridHeaderColor;
        height: 20px;
        // .header-title {
        //     display: inline-block;
        // }
    }
    .content-container {
        font-family: 'Helvetica Neue', Helvetica, 'Arimo', Arial, sans-serif;
        grid-column: span 12;
        background-color: $gridContentColor;
        // padding: 10px 0;
        .sign-out-container {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            margin-top: 50px;
            .sign-out-button {
                grid-column: 6/12;
                // display: block;
                background-color: rgba(175, 47, 47, 0.15);
                width: 100%;
                padding: 16px;
                font-size: 20px;
                cursor: pointer;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
    .footer-container {
        text-align: center;
        background-color: $gridFooterColor;
        grid-column: span 12;
        padding-top: 15px;
        padding-bottom: 5px;
        p {
            font-weight: 600;
        }
        img {
            vertical-align: middle;
        }
    }
}