<!-- src/app/todos/todos.component.ts -->
<section class='todoapp'>

    <!-- header is now replaced with app-todoo-list-header -->
    <app-todo-list-header (addTodoListHeaderEmitter)='onAddTodo($event)'></app-todo-list-header>

    <app-todo-list [todos]='todos' (toggleCompleteTodoListEmitter)='onToggleTodoComplete($event)' (updateTodoTodoListEmitter)='onUpdateTodo($event)' (removeTodoListEmitter)='onRemoveTodo($event)' (toggleAllTodoListEmitter)='onToggleAll($event)'></app-todo-list>

    <app-todo-list-footer [todosIncompletedAmount]='incompletedTodosAmount' [todosAllAmount]='allTodosAmount'></app-todo-list-footer>

    <app-modal [modalTitle]='titleModal' [blocking]='false' [modalId]='modalId'>
        <div class="sweet-alert">
            <div class="icon warning">
                <div class="icon-warning">!</div>
            </div>

            <h2 class="alert-title">Are you sure?</h2>
            <div class="alert-content">You won't be able to revert this!</div>

            <div class="buttons-wrapper">
                <button (click)='removeTodo(todo)' class="btn-styled button-delete">Yes, delete it!</button>
                <button (click)='_modalService.close(modalId, true)' class="btn-styled button-cancel">Cancel</button>
            </div>
        </div>
    </app-modal>

</section>