// @import 'variables';
@import 'title_app';
@import 'header_app';
@import 'todolist_app';
@import 'todo_app';
@import 'footer_app';
@import 'sweetalert';
@import 'tooltip';
@import 'sign-in';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
hr {
    margin: 20px, 0;
    border: 0;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}

@media (min-width: 899px) {
    .learn-bar {
        width: auto;
        padding-left: 300px;
    }
    .learn-bar>.learn {
        left: 8px;
    }
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.icon {
    display: inline-block;
    color: #444444;
    width: 1em;
    height: 1em;
    fill: currentColor;
}


/*
    Hack to remove background from Mobile Safari
    Can't use it globaly since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio: 0),
screen and (min--moz-device-pixel-ratio: 0) {
    .toggle-all,
    .collapse-button,
    .todo-list li .toggle {
        background: none;
    }
    .todo-list li .toggle {
        height: 40px;
    }
    .toggle-all {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .collapse-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }
    .filters {
        bottom: 10px;
    }
}