<div class='view'>
    <input type="checkbox" class="toggle" (click)='toggleTodoComplete(todo)' [checked]='todo.complete'>
    <label (dblclick)='editTodo(todo)'>{{todo.title}}</label>
    <button class="destroy" (click)='removeTodo(todo)'></button>

    <div class='dynamic'>
        <h3>Lets dynamically create some components</h3>
        <button (click)='createHelloWorldComponent()'>Create HelloWorldComponent</button>
        <button (click)='createWorldHelloComponent()'>Create WorldHelloComponent</button>
        <button (click)='createTodoListItemComponent(todo)'>Create TodoListItemComponent</button>
        <button (click)='createTodoListItemEditComponent(todo)'>Create TodoListItemEditComponent</button>
        <app-dynamic-component [componentData]='componentData'></app-dynamic-component>
    </div>
</div>