<footer class="footer" *ngIf='todosAllAmount > 0'>
    <span class='todo-count'><strong>{{todosActiveAmount}}</strong> {{todosActiveAmount === 1 ? 'item' : 'items'}} left</span>
    <a routerLink='/todos' class="link" routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>All</a>
    <a routerLink='/todos/active' class="link" routerLinkActive='active'>Active</a>
    <a routerLink='/todos/completed' class="link" routerLinkActive='active'>Completed</a>
    <button *ngIf='todosCompletedAmount > 0' (click)='clearCompleted(true)' class="btn-clear">Clear completed</button>
</footer>