<footer class='footer' *ngIf='todosAllAmount > 0'>
    <span class='todo-count'><strong>{{todosActiveAmount}}</strong> {{todosActiveAmount === 1 ? 'item' : 'items'}} left</span>
    <div class='filter-container'>
        <a routerLink='/todos' class='link' routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}' appTooltipDirective='Filter todos: all' placement='top'>All</a>
        <a routerLink='/todos/active' class='link' routerLinkActive='active' appTooltipDirective='Filter todos: only active' placement='top'>Active</a>
        <a routerLink='/todos/completed' class='link' routerLinkActive='active' appTooltipDirective='Filter todos: only completed' placement='top'>Completed</a>
    </div>
    <!-- <button *ngIf='todosCompletedAmount > 0' (click)='clearCompleted(true)' class='btn-clear' (mouseenter)='setClearCompletedHoverState(true)' (mouseleave)='setClearCompletedHoverState(false)'>Clear completed</button> -->
</footer>