.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
}

.closed .modal {
    top: -5%;
}

.closed .modal-overlay {
    display: none;
}

.modal {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .22), 0 17px 20px 0 rgba(0, 0, 0, .12);
    background-color: white;
    left: calc(50% - 300px);
    max-height: calc(100% - 10em);
    overflow-y: auto;
    position: fixed;
    top: 5em;
    width: 600px;
    z-index: 1100;
    transition: all .5s ease;
}

.modal .title {
    background-color: red;
    text-align: center;
    color: white;
    line-height: 40px;
}

.modal .title .right-align {
    position: absolute;
    right: 5px;
}

.modal .title .right-align,
i {
    line-height: 40px;
}

.modal .title .right-align:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.modal .body {
    padding: 1.2em;
}

.material-icons {
    border: 1px solid red;
}