<div class='view' [class.hovered]='hoverState && !deleteHoverState && !editHoverState' [class.delete-hovered]='deleteHoverState' [class.edit-hovered]='editHoverState' (mouseenter)='setHover(true)' (mouseleave)='setHover(false)'>
    <input type="checkbox" class="toggle" (click)='toggleTodoComplete(todo)' [checked]='todo.complete'>
    <label (dblclick)='editTodo(todo)'>{{todo.title}}</label>
    <svg class="icon icon-pencil-edit" (mouseenter)='setEditHover(true)' (mouseleave)='setEditHover(false)' (click)='editTodo(todo)'>
        <use xlink:href="#icon-pencil-edit"></use>
    </svg>
    <svg class="icon icon-destroy" (click)='showDialog = !showDialog' (mouseenter)='setDeleteHover(true)' (mouseleave)='setDeleteHover(false)'>
        <use xlink:href="#icon-destroy"></use>
    </svg>

    <app-dialog [(visible)]='showDialog'>
        <h5>Are you sure want to delete todo with title:</h5>
        <p>{{todo.title}}</p>
        <button (click)='removeTodo(todo)' style="border: 1px solid red;">Yes! Delete the todo!</button>
        <button (click)='showDialog = !showDialog' style="border: 1px solid red;">No! Leave the todo!</button>
    </app-dialog>
</div>